@font-face {
    font-family: "hannotate";
    src: url("hannotate.eot"); /* IE9 */
    src: url("hannotate.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("hannotate.woff") format("woff"), /* chrome、firefox */
    url("hannotate.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("hannotate.svg#hannotate") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


