@keyframes dot {
  25% {
    box-shadow: none;
  }
  50% {
    box-shadow: $dotSize 0 currentColor;
  }
  75% {
    box-shadow: $dotSize 0 currentColor, $dotSize*3 0 currentColor;
  }
  100% {
    box-shadow: $dotSize 0 currentColor, $dotSize*3 0 currentColor, $dotSize*5 0 currentColor;
  }
}
