[v-cloak] {
  display: none;
}

.mt-40 {
  margin-top: 0.322061rem;
}

.dn {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

.cl-b {
  clear: both;
}

.lh1_5 {
  line-height: 1.5em;
}

.dn-imp {
  display: none!important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
