html {
  height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: -apple-system;
  font-family: '-apple-system', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background: #f8f9fb;
  min-height: 100%;
  color: #737e9c;
  font-size: 0.354267rem;
  overflow: hidden;
  position: relative;
  font-weight: 300;
  // padding-bottom: 0.805153rem;
}

em {
  font-weight: normal;
  color: #f5be6c;
  margin: 0 .3em;
  a {
    color: #f5be6c;
  }
}

.body-head {
  padding: 0.402576rem 0.402576rem 0; //50px
  .sub-title {
    font-size: 0.322061rem;
    color: #999ea5;
    line-height: 1.2;
  }
}

.color-unimportant {
  color: #bec3ca;
}

.flex-container {
  min-height: 9.66183574879227rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}
