input::-moz-placeholder {
  color: #c5c9d2;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #c5c9d2;
}

input::-webkit-input-placeholder {
  color: #c5c9d2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: !important;
  color: #737e9c!important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #737e9c!important;
}

form {
  // position: relative;
  // z-index: 1;
  background: #eff1f8; //和body同一个颜色 为了弹出键盘时候可以遮盖下面的logo
}

.form-container {
  padding: 1.36876rem 0.402576rem;
  &.register-container {
    padding: 0.644122rem 0.402576rem;
  }
}

input {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
}

.btn,
button,
input[type="button"] {
  display: inline-block;
  // padding-left: 0.563607rem;
  // padding-right: 0.281804rem;
  height: 1.127214rem;
  line-height: 1.127214rem;
  width: 100%;
  color: white;
  font-size: 0.354267rem;
  text-align: center;
  background: #194373;
  border-radius: 0.040258rem;
  border: 0;
  -webkit-appearance: none;
  &.btn-gray {
    background: #b7bed1;
    &:active {
      background: darken(#b7bed1, 10%);
    }
  }
  &.btn-cyan {
    background: #78839f;
    &:active {
      background: darken(#78839f, 10%);
    }
  }
  &[disabled] {
    color: #c5c9d2;
  }
  &:active {
    background: darken(#194373, 10%);
    // box-shadow: inset 0 1px 0 rgba(0, 0, 0, .5);
  }
  .with_arrow {
    float: right;
    margin-top: -0.016103rem;
    &:after {
      border-color: white;
    }
  }
  &.cell {
    background: #b7bed1;
  }
  &.btn-left-right {
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}

.form-group {
  width: 100%;
  margin-bottom: 0.563607rem;
  .weui_icon {
    &:before {
      font-size: 18px;
    }
  }
  .weui_icon_clear {
    &:before {
      font-size: 16px;
    }
  }
  .input {
    background: white;
    border-radius: 0.040258rem;
    // width: 100%;
    height: 1.127214rem;
    line-height: 1.127214rem;
    font-size: 0.354267rem;
    padding-left: 0.563607rem;
    padding-right: 0.281804rem;
    position: relative;
    &.input-withicon {
      padding-left: 1.127214rem;
      .icon-pano {
        position: absolute;
        left: 0.362319rem; //45px
        color: #dde1f0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .inset-button {
      float: left;
      background: none;
      padding: 0;
      width: auto;
      text-align: center;
      color: #626d8b;
      border-radius: 50px;
      border: 1px solid #b7bed1;
      min-width: 1.932367rem;
      height: 0.724638rem;
      line-height: 0.724638rem;
      // position: absolute;
      // right: 0.241546rem;
      // top: 50%;
      // transform: translateY(-50%);
      &[disabled] {
        color: #c5c9d2;
        cursor: not-allowed;
        pointer-events: none;
        &:active {
          color: #c5c9d2;
        }
      }
      &:active {
        color: #6e9dda;
      }
    }
    .status {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      .weui_icon {
        display: none;
        height: 0.724638rem;
        line-height: 0.724638rem;
        float: left;
        margin-left: 0.080515rem;
        &:before {
          font-size: 18px;
        }
      }
      .weui_icon_clear {
        &:before {
          font-size: 16px;
        }
      }
    }
    &.not-empty.focus {
      .status {
        .weui_icon_clear {
          display: block;
        }
      }
    }
    &.valid.modified {
      .status {
        .weui_icon_success {
          display: block;
        }
      }
    }
    &.invalid.touched {
      .status {
        .weui_icon_warn {
          display: block;
        }
      }
    }
  }
  .input-comment {
    color: #adb1bc;
    font-size: 0.289855rem; //36px
    margin-top: 1em;
  }
}

.checkbox-label {
  $orange: #ffc445;
  float: left;
  margin-bottom: 0.120773rem;
  margin-right: 0.120773rem;
  color: #adb1bc;
  // color: white;
  font-size: 0.289855rem;
  position: relative;
  [type=checkbox] {
    display: none;
    &:checked ~ label {
      // border-color: $orange;
      border-color: $orange;
      padding: 0.120773rem 0.201288rem 0.120773rem 0.563607rem;
      &:before {
        content: '\e906';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.161031rem;
        color: $orange;
        display: inline-block;
        font-family: 'pano';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  label {
    display: block;
    font-weight: normal;
    cursor: pointer;
    padding: 0.120773rem 0.201288rem;
    // border: 1px solid #f3f5f7;
    border: 2px solid #f3f5f7;
    font-size: 0.289855rem;
    &:active {
      border-color: $orange;
    }
  }
  & ~ .check-all {
    float: left;
    font-size: 0.289855rem; //36px
    padding: 0.120773rem 0.201288rem;
    color: white;
    background: #f2b82c;
    border: 2px solid #f3f5f7;
    &:active {
      background: darken(#f2b82c, 10%);
    }
  }
}
