.tabbar {
  z-index: 10000;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.288245rem;
  line-height: 1.288245rem; // 160px;
  display: flex;
  background: white;
  border-top: 1px solid #e9ecf1;
  .tab {
    flex: 1;
    border-right: 1px solid #e9ecf1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:last-of-type {
      border: 0;
    }
    span,
    i {
      display: block;
      line-height: 1em;
    }
    &[span="2"] {
      flex: 2;
    }
    &[span="3"] {
      flex: 3;
    }
    a {
      text-align: center;
      font-size: 0.241546rem; //30px
      color: #acb1bd;
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon-pano {
        font-size: 2em;
        color: #acb1bd;
        margin-bottom: .3em;
      }
      &:active {
        background: #f1f6fb;
      }
      &:active,
      &.v-link-active {
        text-decoration: none;
        color: #194373;
        .icon-pano {
          font-weight: bold;
          color: #194373;
        }
      }
    }
  }
}
