.vux-popup-dialog {
  background: white;
  .popup {
    padding: 0.322061rem;
    .head{
      height: 0.966184rem;
      line-height: 0.966184rem;
      .title{
        color: #9da5b7;
        font-size: 0.354267rem;
      }
    }
  }
}
