.vux-popup-dialog {
  background: white;
  .popup {
    padding: 0.322061rem;
    .head {
      height: 0.966184rem;
      line-height: 0.966184rem;
      .title {
        color: #9da5b7;
        font-size: 0.354267rem;
      }
    }
  }
}

.vux-fade-transition {
  &.weui_dialog_alert,
  &.vux-toast {
    transition: none; //避免 #app使用position relative渐变被遮挡
  }
}

.weui_btn_dialog.primary {
  color: #194373;
}

.weui_toast {
  width: auto!important;
  max-width: 10em!important;
  min-width: 7.6em;
  padding: 0 5px;
  line-height: 1.2;
}

.vux-header {
  background: #194373;
  position: relative;
  .vux-header-left {
    top: 50%;
    transform: translateY(-50%);
    .vux-header-back {
      padding-left: 0;
      &:before {
        position: static;
      }
    }
  }
  .vux-header-title,
  h1 {
    height: 1.207729rem; //150px
    line-height: 1.207729rem;
    font-size: 0.402576rem; //50px
  }
}

.weui_cells {
  margin-top: 0.362319rem; //45px
}

.weui_cell {
  font-size: 0.402576rem; //50px
  &:active {
    .with_arrow:after {
      border-color: #4380dd;
    }
  }
  &.kt-cell {
    padding: 0.563607rem 0.402576rem; //70px 50px
  }
  &.kt-md-cell {
    .icon-circle {
      margin-right: 0.483092rem; // 60px
      img {
        vertical-align: middle;
        max-width: 70%;
        max-height: 70%;
      }
    }
    .weui_cell_bd {
      font-size: 0.322061rem; //40px
    }
    .kt-cell-content {
      font-size: 0.289855rem; //36px
      margin-top: 0.161031rem; //20px
      line-height: 1.2em;
    }
    .value {
      // margin-top: 0.120773rem; //15px
      h3 {
        font-size: 0.289855rem; //36px
        color: #d8dbe1;
      }
      p {
        margin-top: 0.161031rem; //20px
        strong {
          color: #194373;
          font-size: 0.402576rem; //50px
        }
      }
    }
  }
  &.weui_cell_switch {
    .weui_cell_ft {
      div {
        height: 30px;
      }
    }
  }
  .kt-cell-content {
    font-size: 0.322061rem; // 40px
    color: #c5c9d2;
  }
  .weui_cell_primary {
    position: relative;
    font-size: 0.402576rem; //50px
    color: #737e9c;
  }
  .weui_cell_ft {
    font-size: 0.402576rem;
    color: #999ea5;
  }
  .icon-circle {
    margin-right: 0.402576rem;
    border: 1px solid #e8ecf3;
    border-radius: 50%;
    width: 1.771337rem; // 220px
    height: 1.771337rem;
    text-align: center;
    line-height: 1.771337rem;
    img {
      vertical-align: middle;
      max-width: 70%;
      max-height: 70%;
    }
  }
  .weui_select {
    &.empty {
      color: #999ea5;
    }
    direction: rtl;
    &:invalid {
      color: #999ea5;
    }
  }
  .weui_icon_warn {
    &:before {
      font-size: 16px;
    }
  }
  .weui_icon {
    display: none;
    vertical-align: 2px;
  }
  .weui_switch:checked {
    background-color: #83a4c3;
    border-color: #83a4c3;
  }
  &.weui_cell_input.not-empty {
    .weui_icon_clear {
      display: inline;
    }
  }
  &.invalid.touched {
    .weui_icon_warn {
      display: inline;
    }
  }
  .tip-icon {
    font-size: .8em;
  }
}

.weiui_buttons_kt {
  padding: 0.402576rem; //50px
}
