@font-face {
  font-family: 'pano';
  src: url('./icomoon.eot?394mb8');
  src: url('./icomoon.eot?394mb8#iefix') format('embedded-opentype'), url('./icomoon.ttf?394mb8') format('truetype'), url('./icomoon.woff?394mb8') format('woff'), url('./icomoon.svg?394mb8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-pano {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pano' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vip:before {
  content: "\e91b";
}

.icon-ok:before {
  content: "\e918";
}

.icon-arrow-bold:before {
  content: "\e900";
}

.icon-arrow:before {
  content: "\e901";
}

.icon-house:before {
  content: "\e902";
}

.icon-key:before {
  content: "\e903";
}

.icon-link:before {
  content: "\e904";
}

.icon-man:before {
  content: "\e905";
}

.icon-mans:before {
  content: "\e906";
}

.icon-money:before {
  content: "\e907";
}

.icon-ok3:before {
  content: "\e908";
}

.icon-sad:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e90a";
}

.icon-smile:before {
  content: "\e90b";
}

.icon-lock-solid:before {
  content: "\e90c";
}

.icon-man-solid:before {
  content: "\e90d";
}

.icon-question-bold:before {
  content: "\e90e";
}

.icon-question:before {
  content: "\e90f";
}

.icon-cloud:before {
  content: "\e910";
}

.icon-earch:before {
  content: "\e911";
}

.icon-meng:before {
  content: "\e912";
}

.icon-mobile:before {
  content: "\e913";
}

.icon-asset:before {
  content: "\e914";
}

.icon-info:before {
  content: "\e915";
}

.icon-man2:before {
  content: "\e916";
}

.icon-ob:before {
  content: "\e917";
}

.icon-add:before {
  content: "\e919";
}

.icon-delete:before {
  content: "\e91a";
}

.icon-edit:before {
  content: "\e91c";
}

.icon-man-simple:before {
  content: "\e91d";
}

.icon-ok2:before {
  content: "\e91e";
}

.icon-plus:before {
  content: "\e91f";
}

.icon-checkbox:before {
  content: "\e920";
}

.icon-market:before {
  content: "\e921";
}

.icon-price:before {
  content: "\e922";
}

.icon-project:before {
  content: "\e923";
}

.icon-share:before {
  content: "\e924";
}

.icon-refresh:before {
  content: "\e925";
}
